<p id="notice"><%= notice %></p>

<p>
	<strong><strong>
	<%= @student.name %>
</p>

<p>
	<strong><strong>
	<%= @student.student_id %>
</p>

<p>
	<strong><strong>
	<%= @student.card_id%>
</p>

<p>
	<strong><strong>
	<%= @student.email%>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> | 
<%= link_to 'Back', students_path %>
