	<div class="field">
		<%= f.label :name, "Name" %>
		<%= f.text_field :name%>
	</div>
	
	<div class="field">
		<%= f.label :student_id, "Student ID"%>
		<%= f.text_field :student_id%>
	</div>
	
	<div class="field">
		<%= f.label :card_id, "Card ID"%>
		<%= f.text_field :card_id%>
	</div>
	
	<div class="field">
		<%= f.label :email, "Email"%>
		<%= f.text_field :email%>
	</div>

	<div class="action">
		<%= f.submit %>
	</div>
