<h1>New Book</h1>
<%= form_for @user, :url =>{ :controller => 'users', :action => 'create'} do |f|%>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div class="field">
		<%= f.label :student_id %>
		<%= f.text_field :student_id %>
	</div>

	<div class="actions">
		<%= f.submit "Book" %>
	</div>
<% end %>
<%= link_to 'Back', users_path %>
