<h1>New Book</h1>
<%= form_for(@user) do |f|%>
	<div class="field">
		<%= f.label :name, "Name" %>
		<%= f.text_field :name %>
	</div>

	<div class="field">
		<%= f.label :student_id, "Student ID" %>
		<%= f.text_field :student_id %>
	</div>

	<div class="actions">
		<%= f.submit "Book" %>
	</div>
<% end %>
<%= link_to 'Back', users_path %>
